body.darkMode.superDark .btn-gamemode-hcco-hcco {
    color: #fff;
    background-color: #964B00;
    border-color: #964B00
}

.btn-gamemode-hcco-hcco {
    color: #fff;
    background-color: #964B00;
    border-color: #964B00
}

body.darkMode.superDark .btn-gamemode-mcco {
    color: #fff;
    background-color: #808080;
    border-color: #808080
}

.btn-gamemode-mcco {
    color: #fff;
    background-color: #808080;
    border-color: #808080
}