body.darkMode.superDark .btn-gamemode-mcco {
    color: #fff;
    background-color: #008000;
    border-color: #4F7942
}

.btn-gamemode-mcco {
    color: #fff;
    background-color: #4F7942;
    border-color: #4F7942
}