<template id="table">
	<div v-scope="{
    amount: {
      salaryPerPage: 0,
      allSalaries: 0
    },
    pageActive: 1, //or currentPage
    limitPerPage: 10, //or currentEntries
    pageInfo: {}, //or show
    totalPages: 1, //or allPages
    search: '',
    filter: {
      name: '',
      position: '',
      office: '',
      extension: '',
      startdate: '',
      salary: ''
    },
    sort: {
      column: 'id',
      by: 'asc'
    },
    get filteredEntries() {
		if (this.search == '')
			return this.entries
		const searchItem = this.search.toLowerCase();
		return this.entries.filter(entry => {
				return entry.name.toLowerCase().includes(searchItem)
					|| entry.old.lootTable.some(x => x.item.name.toLowerCase().includes(searchItem))
					|| entry.new.lootTable.some(x => x.item.name.toLowerCase().includes(searchItem))
					|| entry.old?.bones?.item?.name?.toLowerCase()?.includes(searchItem)
					|| entry.new?.bones?.item?.name?.toLowerCase()?.includes(searchItem)
			})
    },
  }" class="m-3">
		<div class="d-flex justify-content-between my-3 field-sizing">
			<input type="search" v-model="search" class="form-control field-sizing" placeholder="Search here for items or monsters..." @click.prevent="pageActive = 1">
		</div>
		<div style="overflow-x:auto;">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Old Drop Table</th>
						<th>New Drop Table</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(entry, index) in filteredEntries" :key="index">
						<td> {{entry.name}} </td>
						<td>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Item name</th>
										<th>Drop quantity</th>
										<th>Weight</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(drop, idx) in entry.old.lootTable" :key="idx">
										<td>{{drop.item.name}}</td>
										<td>{{drop.minQuantity}} – {{drop.maxQuantity}}</td>
										<td>{{drop.weight[0]}}/{{drop.weight[1]}}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr v-if="entry.old.bones">
										<td>{{entry.old.bones?.item?.name}}</td>
										<td>{{entry.old.bones?.quantity}}</td>
										<td>Always</td>
									</tr>
								</tfoot>
							</table>
						</td>
						<td>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Item name</th>
										<th>Drop quantity</th>
										<th>Weight</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(drop, idx) in entry.new.lootTable" :key="idx">
										<td>{{drop.item.name}}</td>
										<td>{{drop.minQuantity}} – {{drop.maxQuantity}}</td>
										<td>{{drop.weight[0]}}/{{drop.weight[1]}}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr v-if="entry.new.bones">
										<td>{{entry.new.bones?.item?.name}}</td>
										<td>{{entry.new.bones?.quantity}}</td>
										<td>Always</td>
									</tr>
								</tfoot>
							</table>
						</td>
					</tr>
					<!-- <tr v-for="(entry, index) in filteredEntries" :key="index">
					<td v-for="(column, ind) in columns" :key="ind">{{ entry[column.name] }}
						<table v-if="column?.length > 0">

						</table>
					</td>
				</tr> -->
				</tbody>
			</table>
		</div>
	</div>
</template>